body {
    background-color: black;
}

h1 {
    color: whitesmoke;
}

.ball-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.ball1, .ball2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    font-weight: bold;

    transition: all 1s;
    cursor:pointer
}

.ball1 {
    background-color: rgb(25, 163, 46);
}


.ball2 {
    background-color: rgb(25, 117, 163);
}